Schema.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tibco_SapOem_plm" targetNamespace="http://tibco_SapOem_plm" elementFormDefault="qualified">

<complexType name="ManagerType">
    <sequence>
        <element name="DisplayName" type="string" minOccurs="1" maxOccurs="1"/>
        <element name="Email" type="string" minOccurs="1" maxOccurs="1"/>
        <element name="Claims" type="string" minOccurs="1" maxOccurs="1"/>
        <element name="Department" type="string" minOccurs="1" maxOccurs="1"/>
    </sequence>
</complexType>

<element name="Manager" type="tns:ManagerType"/>

</schema>