Schema.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tibco_SapOem_plm" targetNamespace="http://tibco_SapOem_plm" elementFormDefault="qualified">
    <complexType name="ProjectType">
        <sequence>
            <element name="Title" type="string"/>
            <element name="ProjectName" type="string"/>
        </sequence>
    </complexType>

</schema>